.container{
    margin: 0px 20px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.container__title{
    color: var(--bold-text-color);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.02em;
}

.container__stockranking{
    height: 100%;
}

.container__recentstock{
    margin-bottom: 10px;
}

.container__myinfo{
    margin-bottom: 15px;
    margin-right: 10px;
}

.container__exchangerate{
    margin-right: 10px;
}

.container__myaccount{
    margin: 0px 10px;
}

.container__mystock{
    margin-bottom: 15px;
    margin-left: 10px;
}

.container__heartstock{
    margin-left: 10px;
}

.container__stockchart{
    margin-right: 10px;
    margin-bottom: 15px;
}

.container__order{
    margin-right: 10px;
}

.container__orderbook{
    margin-left: 10px;
    margin-bottom: 15px;
}

.container__stockinfo{
    margin-left: 10px;
}