.home{
    display: flex;
}

.home__section1{
    flex: 1;
    margin: 50px 0px;
}

.home__section2{
    flex: 1;
    margin: 50px 0px;
}

.mypage__wrap{
    display: flex;
}

header{
    padding: 20px 26px;
    height: 80px;
    color: var(--bold-text-color);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -0.02em;
}

.mypage__section1{
    width: 25%;
}

.mypage__section2{
    flex: 1;
}

.mypage__section3{
    flex: 1;
}

.stockpage__wrap{
    display: flex;
}

.stockpage__section1{
    width: 60%;
}

.stockpage__section2{
    flex: 1;
}

.signin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfound{
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--bold-text-color);
}