.home{
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.home__section1{
    margin: 50px 0px;
}

.home__section2{
    margin: 50px 0px;
}

.mypage__wrap{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

header{
    padding: 20px 26px;
    height: 80px;
    color: var(--bold-text-color);
    font-weight: bold;
    font-size: 30px;
}

.stockpage__wrap{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.signin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfound{
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--bold-text-color);
}