.container__stock{
    margin: 10px 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element__stock{
    margin: 0px 12px;
    font-size: 14px;
    font-weight: bold;
}

.stock__name{
    color: var(--bold-text-color);
}

.stock__price{
    color: var(--bold-text-color);
}

.stock__per{
    font-size: 13px;
}

.stock__per--positive{
    color: var(--positive-color);
}

.stock__per--negative{
    color: var(--negative-color);
}

.img__stock{
    width: 80px;
}


