*{
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100%;
}

.wrap{
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav{
  width: 240px;
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__title{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:x-large;
  font-weight: bolder;
  color: var(--bold-text-color);
}

.separator{
  width: 100%;
  height: 0px;
  border: 1px solid var(--main-color);
}

ul{
  list-style: none;
}

.nav__li{
  width: 205px;
  height: 35px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__li .active{
  font-weight: bold;
  color: var(--activate-color);
}

.nav__li .inactive{
  color: var(--sub-text-color);
}

.nav__statebar{
  width: 4px;
  height: 36px;
  border-radius: 25px;
}

.nav__statebar--inactive{
  background-color: var(--sub-text-color);
}

.nav__statebar--active{
  background-color: var(--activate-color);
}

footer{
  color: var(--sub-text-color);
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
  margin-top: auto;
}

.footer__links{
  width: 250px;
  display: flex;
  justify-content: space-between;
}
